.col-1 {
    height: 40px;
    animation: changeColor 1s linear infinite alternate;
}

@keyframes changeColor {
0% { 
    background-color: orange;
}

100% {
    background-color: rgb(247, 82, 64);
}
}
